extends ../../aalayout/layout

block content
	.container.mt-3
		- let whsize = "30px";
		include ../../aaPage/index/bner
		hr
		
		include ../../aaPage/index/qter
		hr

		include ../../aaPage/index/mgerQt
		hr

		include ../../aaPage/index/sler
		hr

		include ../../aaPage/index/oder
		hr

		include ../../aaPage/index/pmer
		hr

		include ../../aaPage/index/mger