extends ../../../aalayout/layout

block content
	.container
		.title
			.row
				.col-12 
					a(href="/") Home
					span &nbsp; | &nbsp;
					a(href="/mgQuts") Quote List
					span &nbsp; | &nbsp;
					span Quote Detail
			hr
		.info.my-3
			include ./detail/info
		.compds
			if qut.status >= Conf.status.confirm.num
				-a;
				include ./compd/listConfirm
			else
				include ./compd/list

		include ../../../aaPlugin/comment/list