extends ../aalayout/layout

block content
	.container
		- var photo = pdsec.photo;
		if !photo
			- photo = Conf.picDefault.pdsec;

		.title
			.row
				.col-12 
					a(href="/cter") Home
					span &nbsp; | &nbsp;
					a(href="/ctPdsecs") Product List
					span &nbsp; | &nbsp;
					a(href="/ctPdfir/"+pdsec.pdfir._id) #{pdsec.pdfir.code}
					span &nbsp; | &nbsp;
					span #{pdsec.code}
			hr
		.info
			include ./detail/info
			hr

		.pdthd
			input#pdthdFilterAjax(type="hidden", value="/usPdthdsAjax?pdsecId="+pdsec._id+"@#pdthdsElem@ct")
			#pdthdsElem.mt-5

	script(src="/js/user/ajaxGet/pdthd.js")
	script(src="/js/user/cter/pdthd/list.js")