extends ../../aalayout/layout

block content
	.container.mt-3
		.title
			.row
				.col-9.text-muted.mt-2: h5
					a(href="/") Home
					span &nbsp; | &nbsp;
					a(href="/mgTrans") 运输单列表
					span &nbsp; | &nbsp;
					span 运输单详情
				.col-3.text-right
			hr
		.info.my-3
			include ./detail/basicInfo
			if tran.status == Conf.status.init.num
				-a;
				include ./compd/add
		hr
		.compds.mt-3
			include ./compd/list