extends ../../../aalayout/layout

block content
	.container
		.title
			.row
				.col-12 
					a(href="/") Home
					span &nbsp; | &nbsp;
					a(href="/slDins") 列表
					span &nbsp; | &nbsp;
					span 销售单
			hr
		.info.my-3
			include ./detail/info
		.dinpd
			.row
				.col-12
					button.btn.btn-link.qntPrTdBtn(type="button") <span class="oi oi-eye"></span>
			include ./compd/list

		include ../../../aaPlugin/comment/list

	script(src="/js/user/sler/din/detail/detail.js")