extends ../../../aalayout/layout

block content
	.container
		nav(aria-label="breadcrumb")
			ol.breadcrumb
				li.breadcrumb-item: a(href="/") Home
				li.breadcrumb-item: a(href="/slQuns") 列表
				li.breadcrumb-item.active(aria-current="page") 询价单详情
		.info.my-3
			include ./detail/info
		div(style="height:40px")

		.compdAdd
			if qun.status == Conf.status.init.num || qun.status == Conf.status.quoting.num
				-a;
				include ./compd/add

		.compds
			if qun.status >= Conf.status.confirm.num
				-a;
				include ./compd/listConfirm
			else
				include ./compd/list

		//- include ../../../aaPlugin/comment/list
		if qun.quter
			-a;
			- let toUser = qun.quter;
			include ../../../aaPlugin/notify/list