extends ../../../aalayout/layout

block content
	.container
		.title
			.row
				.col-12 
					a(href="/") 主页
					span &nbsp; | &nbsp;
					a(href="/slQuns") 询价单列表
					span &nbsp; | &nbsp;
					span 询价单详情
			hr
		.info.my-3
			include ./detail/info
		div(style="height:40px")

		.compdAdd
			if qun.status == Conf.status.init.num || qun.status == Conf.status.quoting.num
				-a;
				include ./compd/add

		.compds
			if qun.status >= Conf.status.confirm.num
				-a;
				include ./compd/listConfirm
			else
				include ./compd/list

		//- include ../../../aaPlugin/comment/list
		if qun.quter
			-a;
			- let toUser = qun.quter;
			include ../../../aaPlugin/notify/list

	script(src="/js/user/sler/qun/detail/detail.js")