extends ../../../aalayout/layout

block content
	.container.mt-3
		.title.text-muted.mt-2: h5
			a(href="/") 主页
			span &nbsp; | &nbsp;
			span 询价单列表
		#searchElem.bg-white.input-group.my-3
			input.form-control#qunSearch(type="text", placeholder="询价单名称搜索")
			.input-group-append
				button.btn.btn-outline-secondary(type="button") <span class="oi oi-magnifying-glass"></span>
		.filter.p-3
			span.mr-5 查看询价单:
			each sts in Conf.qunSts
				- let stsBtn = "btn-default";
				if sts == 'init'
					- stsBtn = "btn-success";
				button.mr-3.btn.statusClick(class=stsBtn, type="button", data-status=Conf.status[sts].num) #{Conf.status[sts].val}
			button.btn.statusClick#statusAll(class=stsBtn, type="button") 全部
		.add.mt-3
			include ./add
		.qunsList
			input#qunFilterAjax(type="hidden", value="/usQunsAjax?@#qunsElem@sl@&status="+Conf.status.init.num)
			//- input#qunFilterAjax(type="hidden", value="?key=xxx@#qunsElem")
			#qunsElem.mt-5
		script(src="/js/user/sler/qun/edit.js")

		script(src="/js/user/ajaxGet/qun.js")
		script(src="/js/user/sler/qun/list.js")
