extends ../../../aalayout/layout

block content
	.container
		.title
			.row
				.col-12 
					a(href="/bser") Home
					span &nbsp; | &nbsp;
					a(href="/bsDins") 列表
					span &nbsp; | &nbsp;
					span 销售订单
			hr
		.info.my-3
			include ./detail/info
		.dinpd.text-right
			if din.status == Conf.status.init.num
				-a;
				
			include ./detail/pdsInfo
		
		include ../../../aaPlugin/comment/list

	script(src="/js/user/ajaxChange/status.js")
