extends ../../aalayout/layout

block content
	.container.mt-3
		- let whsize = "50px";
		include ../../aaPage/index/qter
		hr

		include ../../aaPage/index/sler
		hr
		
		.text-info
			include ../../aaPage/index/oder
