.row
	.col-12 物流部
	.col-6.col-md-3.col-lg-2.text-center.mt-3
		a(href="/lgStrmlgs")
			img(src="/imgs/index/deposits.png", width=whsize, height=whsize)
		a.btn.btn-default.btn-block.text-dark(href="/lgStrmlgs") 运输公司
	.col-6.col-md-3.col-lg-2.text-center.mt-3
		a(href="/lgTrans")
			img(src="/imgs/index/deposits.png", width=whsize, height=whsize)
		a.btn.btn-default.btn-block.text-dark(href="/lgTrans") 运输管理
