.row
	.col-12 订单部
	.col-6.col-md-3.col-lg-2.text-center.mt-3
		a(href="/odDins")
			img(src="/imgs/index/deposits.png", width=whsize, height=whsize)
		a.btn.btn-default.btn-block.text-dark(href="/odDins") 订单
	.col-6.col-md-3.col-lg-2.text-center.mt-3
		a(href="/odDuts")
			img(src="/imgs/index/deposits.png", width=whsize, height=whsize)
		a.btn.btn-default.btn-block.text-dark(href="/odDuts") 采购单