.row
	.col-12 订单部
	.col-6.col-md-3.col-lg-2.text-center.mt-3(style="opacity: 0.7")
		a(href="#")
			img(src="/imgs/index/deposits.png", width=whsize, height=whsize)
		a.btn.btn-default.btn-block.text-dark(href="#") #采购订单#
		//- a(href="/odDuts")
		//- 	img(src="/imgs/index/deposits.png", width=whsize, height=whsize)
		//- 	//- span Upload Excel
		//- a.btn.btn-default.btn-block.text-dark(href="/odDuts") 采购订单