.row
	.col-12 报价部
	.col-6.col-md-3.col-lg-2.text-center.mt-3
		a(href="/qtQuts")
			img(src="/imgs/index/deposits.png", width=whsize, height=whsize)
			//- span Upload Excel
		a.btn.btn-default.btn-block.text-dark(href="/qtQuts") 报价单