.row
	.col-12 询价系统
	.col-6.col-md-3.col-lg-2.text-center.mt-3
		a(href="/slQuns")
			img(src="/imgs/index/deposits.png", width=whsize, height=whsize)
			//- span Upload Excel
		a.btn.btn-default.btn-block.text-dark(href="/slQuns") 询价单
	.col-6.col-md-3.col-lg-2.text-center.mt-3
		a(href="/slDins")
			img(src="/imgs/index/deposits.png", width=whsize, height=whsize)
			//- span Upload Excel
		a.btn.btn-default.btn-block.text-dark(href="/slDins") 订单