extends ../../aalayout/layout

block content
	.container.mt-3
		.title.text-muted.mt-2: h5
			a(href="/cter") Home
			span &nbsp; | &nbsp;
			span #{title}
		.info.mt-5
			include ../list

	div(style="height: 100px")
	.footerSpace