#qunpdsPage
	.row
		.col-12.col-sm-9
		.col-12.col-sm-3
			button.btn.btn-info.btn-block#qunpdAddPageShow(type="button") + 添加询价商品
//- 添加产品
#qunpdAddPage.border(style="display:none")
	.row.my-3
		.col-12.col-sm-6
		.col-12.col-sm-3
		.col-12.col-sm-3
			button.btn.btn-secondary.btn-block#qunpdsPageShow(type="button") 取消添加

	form#qunpdNewForm(method="post", action="/slQunpdNew", enctype="multipart/form-data")
		input#inquotIpt(type="hidden", name="obj[inquot]", value=qun._id)
		.row.my-3
			.col-4.col-lg-2.mt-3
				input.form-control#brandIpt(type="hidden", name="obj[brand]", readonly="readonly",)
				input.form-control#brandNomeIpt(type="text", name="obj[brandNome]", autocomplete="off", placeholder="填写品牌名")
			.col-4.col-lg-2.mt-3
				input.form-control#pdfirIpt(type="hidden", name="obj[pdfir]", readonly="readonly")
				input.form-control#firNomeIpt(type="text", name="obj[firNome]", autocomplete="off", placeholder="系列")
			.col-4.col-lg-2.mt-3
				input.form-control#pdsecIpt(type="hidden", name="obj[pdsec]", readonly="readonly")
				input.form-control#secNomeIpt(type="text", name="obj[secNome]", autocomplete="off", placeholder="产品")
			.col-4.col-lg-2.mt-3
				input.form-control#pdthdIpt(type="hidden", name="obj[pdthd]", readonly="readonly")
				input.form-control#thdNomeIpt(type="text", name="obj[thdNome]", autocomplete="off", placeholder="材料")
			.col-4.col-lg-2.mt-3
				input.form-control#quantIpt(type="number", name="obj[quant]", autocomplete="off", placeholder="采购数量")
			.col-4.col-lg-2.mt-3
				input.form-control#noteIpt(type="text", name="obj[note]", autocomplete="off", placeholder="备注")
		hr

		input#brandFilterAjax(type="hidden", value="/usBrandsAjax?@#brandsElem@sl")
		.ajax#brandsElem
		input#pdfirFilterAjax(type="hidden", value="/usPdfirsAjax?@#pdfirsElem@sl")
		.ajax#pdfirsElem
		input#pdsecFilterAjax(type="hidden", value="/usPdsecsAjax?@#pdsecsElem@sl")
		.ajax#pdsecsElem
		input#pdthdFilterAjax(type="hidden", value="/usPdthdsAjax?@#pdthdsElem@qt")
		.ajax#pdthdsElem

		.form-group.row
			.col-12.text-right
				input.btn.btn-success(type="submit", value="添加")

script(src="/js/user/sler/qun/detail/compdAdd.js")
script(src="/js/user/sler/qunpd/edit.js")