.row.py-2.text-center.border
	.col-4.mt-3
		if qun.cter
			- cter = qun.cter;
			.cter 客户: #{cter.nome} [#{cter.code}]
		else
			div 数据丢失

	.col-4.mt-3
		.qutFirm 卖家:
			if qun.qutFirm
				- qutFirm = qun.qutFirm;
				.qutFirm.text-success &nbsp; #{qutFirm.nome}
			else if qun.nstrmup
				- nstrmup = qun.nstrmup;
				.nstrmup &nbsp; #{nstrmup.nome}
			else
				.loss 数据丢失
	.col-4.mt-3
		if qun.status == Conf.status.done.num
			-a;
			a.btn.btn-success(href="/bsDinGen/"+qun._id) 生成订单