extends ../../../aalayout/layout

block content
	.container
		.title
			.row
				.col-12 
					a(href="/") Home
					span &nbsp; | &nbsp;
					a(href="/qtQuts") Quote List
					span &nbsp; | &nbsp;
					span Quote Detail
			hr
		.info.my-3
			include ./detail/info
		.compd
			include ./compd/list

		include ../../../aaPlugin/comment/list

	script(src="/js/user/qter/qut/qutpd.js")
	script(src="/js/user/qter/qut/detail.js")