extends ../../aalayout/layout

block content
	.container.mt-3
		.text-center
			h2 设计师操作后台
		- let whsize = "50px";
		.text-info.mt-5
			include ../../aaPage/index/sler
		hr
		include ../../aaPage/index/cterBrand